$black: #393b44;
$hueso: #f1f3f8;
$white:#ffffff;

@mixin margenes($bottom) {
    margin-bottom: $bottom ;
}

body{
    background-color: #8d93ab;
}

footer{
    background-color: $black;
    color:$white;
}

 a{
    text-decoration: none;
    color:$white;
 }

a:hover{
   text-decoration: none;
   color: #d6e0f0;
}



.jumbotron{
    background-color: $black;
    color:$hueso;
    margin-top: 50px;
    background-image: url("/images/wallpaperflare.com_wallpaper.jpg");
    background-attachment: contain;
    background-size: cover;
    background-position: center;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0px 15px 0px;
    padding: 5px;
    text-align: center;
}


.btn{
    
    background-color: $black;
    color: $hueso;
}

.btn2{
    width: 100%;
    background-color: $black;
    color: $hueso;
}
.btn:hover{
    background-color: #1a1c20;
    color: $hueso;
}

.container{
   @include margenes(40px);
}

.img-fluid{
    width: 100%;
    @include margenes(10px);
}
