body {
  background-color: #8d93ab; }

footer {
  background-color: #393b44;
  color: #ffffff; }

a {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  text-decoration: none;
  color: #d6e0f0; }

.jumbotron {
  background-color: #393b44;
  color: #f1f3f8;
  margin-top: 50px;
  background-image: url("/images/wallpaperflare.com_wallpaper.jpg");
  background-attachment: contain;
  background-size: cover;
  background-position: center; }

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 0px 15px 0px;
  padding: 5px;
  text-align: center; }

.btn {
  background-color: #393b44;
  color: #f1f3f8; }

.btn2 {
  width: 100%;
  background-color: #393b44;
  color: #f1f3f8; }

.btn:hover {
  background-color: #1a1c20;
  color: #f1f3f8; }

.container {
  margin-bottom: 40px; }

.img-fluid {
  width: 100%;
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
